/* Importa Fonte Poppins e Inter */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #1053F3;
  --background-color: #F7F9FF;
  --white-color: #FFFFFF;
  --text-muted: #757b8a;
  --text-muted-dark: #101010;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family-poppins);
}

h2{
  font-size: 2.75rem;
  font-weight: 600;
}

h3{
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -1px;
}

p{
  font-weight: 500;
}

/* MOBILE FIRST */

/* HEADER */
.site-header {
  padding: 1.2rem 1.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-desktop{
  display: none;
}

.navbar-desktop{
  display: none;
}


/*  ======================================  */


/* MAIN */

/* ================ */

/* SECTION HERO */
.hero-container{
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-women-image{
  max-width: 95%;
  margin-top: 1.2rem;
}

.hero-women-image img{
  width: 100%;
}

#hero-image-desktop{
  display: none;
}

.hero-text-content{
  margin-top: 1.8rem;
  padding: 0 0.2rem;
}

.hero-text-content .hero-content-title-subtitle h2{
  line-height: 1.2;
}

.hero-text-content .hero-content-title-subtitle p{
  margin-top: 1.2rem;
  color: var(--text-muted);
}

.hero-text-content .hero-content-button button{
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  border: 0;
  color: var(--white-color);
  font-family: var(--font-family-inter);
  margin-top: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
}

.hero-text-content .hero-content-cards{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.hero-text-content .hero-content-cards .card{
  display: flex;
  flex-direction: column;
}

.hero-text-content .hero-content-cards .card h3{
  font-size: 2.5rem;
  font-weight: 600;
}

.hero-text-content .hero-content-cards .card p{
  color: var(--text-muted-dark);
  font-size: 0.75rem;
  font-weight: 500;
}

.hero-text-content .hero-content-cards .vertical-line{
  height: 3rem;
  width: 1px;
  background-color: #dadada;
  border: 0;
}

/* ================ */

/* SECTION BRAND LOGOS */
.brand-logos-container{
  background-color: var(--primary-color);
  padding: 3rem 1rem 2.5rem 1.7rem;
  margin-top: 3.8rem;
}

.brand-logos-container .logos-grid{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.brand-logos-container .logos-grid #paypal-logo{
  width: 100%;
}

.brand-logos-container .logos-grid #forbes-logo{
  width: 90%;
}

.brand-logos-container .logos-grid #bca-logo{
  width: 60%;
  justify-self: center;
}

.brand-logos-container .logos-grid #visa-logo{
  width: 67%;
  justify-self: start;
}

/* ================ */

/* SECTION ABOUT US */
.about-us-section{
  background-color: var(--white-color);
}

.container-about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem 4.5rem 1.7rem;
}


.about-us-content .as-title-and-subtitle h3{
  margin-top: 1.5rem;
}

.about-us-content .as-title-and-subtitle p{
  font-family: var(--font-family-inter);
  color: var(--text-muted);
  line-height: 1.6;
  margin-top: 2rem;
  font-weight: 500;
}

.as-director-comment{
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
}

.as-director-comment .director-comment{
  font-family: var(--font-family-inter);
  font-weight: 400;
  font-size: 16px;
}

.as-director-comment .director-infos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 1.5rem;
}

.director-infos .director-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.as-director-comment .director-name-job{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.as-director-comment .director-name-job #director-job{
  color: var(--text-muted);
  font-weight: 500;
  line-height: 1.2;
}

.as-director-comment .director-name-job #director-name{
  font-weight: 600;
}

/* ================ */

/* SECTION STATISTICS */
.statistcs-section{
  background-color: var(--white-color);
}

.container-statistcs{
  padding: 5rem 0.7rem;
}

.container-statistcs .statistcs-title{
  text-align: center;
  line-height: 1.2;
  letter-spacing: -1px;
}

.container-statistcs .statistcs-cards{
  margin-top: 4rem;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.container-statistcs .statistcs-cards .card{
  display: flex;
  flex-direction: column;
  border: 1px solid #EDEDED;
  border-radius: 16px;
  padding: 1.5rem 1.5rem;
  width: 90%;
}

.container-statistcs .statistcs-cards .card h4{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.container-statistcs .statistcs-cards .card p{
  color: var(--text-muted);
  font-weight: 400;
}

/* ================ */

/* SECTION FEATURES */
.features-section{
  background-color: var(--background-color);
  padding-top: 6rem;
}

.container-features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feature-image-tablet{
  display: none;
}

.feature-content{
  padding: 0.5rem 0.7rem 0rem 1.5rem;
}

.feature-content h3{
  letter-spacing: -1px;
  margin-bottom: 2rem;
}

.feature-content p{
  font-family: var(--font-family-inter);
  line-height: 1.5;
  font-weight: 700;
  width: 90%;
}

.feature-content #feature-content-p-muted{
  color: var(--text-muted);
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 5.5rem;
  width: 95%;
  line-height: 1.6;
}

/* ================ */

/* SECTION JOIN NOW */
.join-now-section{
  background-color: var(--white-color);
}

.container-join-now{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5rem 1.2rem 0rem 2rem;
}

.jn-title-subtitle h3{
  letter-spacing: -1px;
}

.jn-title-subtitle p{
  color: var(--text-muted);
  font-family: var(--font-family-inter);
  margin-top: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  width: 95%;
}

.jn-buttons{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.jn-buttons button{
  font-size: 1rem;
  font-family: var(--font-family-inter);
  font-weight: bold;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  color: var(--white-color); 
  border-radius: 8px;

}

.jn-buttons #learn-more{
  background-color: transparent;
  color: var(--primary-color);
}

.join-now-cards{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.join-now-cards .card{
  width: 99%;
}

.card-icon{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  margin-bottom: 1.5rem;
}

.join-now-cards .card p{
 font-family: var(--font-family-inter);
 font-weight: bold;
}

.join-now-cards .card .jn-text-muted{
  color: var(--text-muted);
  font-weight: 500;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  margin-bottom: 2.5rem;
  width: 80%;
  line-height: 1.5;
}


/* ================ */

/* SECTION SERVICES */
.services-section{
  background-color: var(--white-color);
}

.container-services{
  padding: 5rem 0rem 0rem 1rem; 
}

.container-services .title-subtitle{
  padding-right: 1rem;
}

.container-services .title-subtitle h3{
  width: 90%;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.container-services .title-subtitle p{
  color: var(--text-muted);
  font-weight: 500;
  font-family: var(--font-family-inter);
  line-height: 1.6;
}

.container-services .services-image{
  margin-top: 1.5rem;
}

.services-cards{
  margin-top: 1rem;
  padding-bottom: 3.5rem;
}

.services-cards .card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.services-cards .card .card-text{
  width: 80%;
  padding-right: 1rem;
  font-family: var(--font-family-inter);
}

.services-cards .card .card-text p{
  font-weight: bold;
}

.services-cards .card .card-text .card-text-muted{
  color: var(--text-muted);
  line-height: 1.5;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: 500;
}


/*  ======================================  */


/* FOOTER */

/* ================ */
  .footer{
    background-image: url("./images/footer-background.png");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    background-position: left 115% bottom -200px;
  }

.footer{
  background-color: var(--primary-color);
}

.container-footer{
  color: var(--white-color);
  padding: 5rem 0rem 2.5rem 0rem;
}

.footer-title, .footer-contact{
  padding: 0rem 1rem 0rem 2.5rem;
}

.container-footer .footer-title h2{
  font-size: 3rem;
  letter-spacing: -1px;
  margin-bottom: 4.5rem;
  line-height: 1.1;
}

.footer-contact{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 4.5rem;
}

.footer-contact .card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.footer-contact .card p{
  font-family: var(--font-family-inter);
  font-weight: 300;
  line-height: 1.3;
  
}

.footer-contact .card .contact-card-icon{
  background-color: var(--white-color);
  width: 46px;
  height: 46px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linha-footer{
  width: 85%;
  justify-self: center;
  border: 0;
  height: 2px;
  background-color: #3B8CF4;
}

.footer-infos-grid{
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "terms privacy"
  "copyright copyright";
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 0rem 2rem 1.5rem 2rem;
}

.footer-infos-grid a{
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  font-family: var(--font-family-inter);
}

.footer-infos-grid #terms{
  grid-area: terms;
}

.footer-infos-grid #privacy{
  grid-area: privacy;
}

.footer-infos-grid #copyright{
  grid-area: copyright;
}



/* ==================================== */


/* TABLET */
@media (min-width: 768px){

  /* HERO SECTION */
  .hero-container{
    padding: 1rem 3rem 1rem 3.5rem;
  }

  .hero-content-cards{
    width: 40vw !important;
  }

  /* ========================== */

  /* BRAND LOGOS SECTION */
  .brand-logos-container{
    background-color: var(--primary-color);
    padding: 3rem 1rem 2.5rem 1.7rem;
    margin-top: 3.8rem;
  }
  
  .brand-logos-container .logos-grid{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  
  /* ========================== */
  
  /* ABOUT US SECTION */
  .container-about-us{
    padding: 4.5rem 3rem 4.5rem 3.5rem;
  }
  
  /* ========================== */
  
  /* STATISTCS SECTION */
  .container-statistcs{
    padding: 6rem 3.5rem;
  }
  
  .container-statistcs .statistcs-title{
    width: 60vw;
    justify-self: center;
  }

  /* ========================== */
  
  /* FEATURE SECTION */
  #feature-image-tablet{
    display: flex;
  }
  
  #feature-image-mobile{
    display: none;
  }
  
  .feature-content{
    padding: 1rem 3.5rem 0rem 4rem;
  }

  /* ========================== */
  
  /* JOIN NOW SECTION */
  .container-join-now{
    padding: 5rem 3rem 0rem 4rem;
  }
  
  .join-now-cards{
    margin-top: 4rem;
  }
  
  .join-now-cards .card .jn-text-muted{
    width: 60%;
  }

  /* ========================== */
  
  /* SERVICES SECTION */
  .container-services{
    padding: 5rem 3rem 0rem 3.5rem;
  }
  
  .container-services .title-subtitle{
    text-align: center;
    padding: 0rem;
  }
  
  .container-services .title-subtitle br{
    display: none;
  }
  
  .container-services .title-subtitle h3{
    width: 100%;
  }
  
  .container-services .services-image{
    display: flex;
    justify-content: center;
  }
  
  .services-cards{
    margin-top: 2.5rem;
  }
  

  /* ========================== */
  
  /* FOOTER SECTION */
    .footer{
    background-image: url("./images/footer-background.png");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    background-position: left 80% bottom -200px;
  }

  .container-footer .footer-title h2{
    width: 60%;
  }

  .footer-contact{
    flex-direction: row;
    gap: 3rem;
  }

  .footer-infos-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "terms privacy copyright";
    gap: 1rem;
    margin-top: 3.5rem;
  }
}


/* ==================================== */


/* DESKTOP */
@media (min-width: 1024px){

  /* HEADER */
  .site-header {
    padding: 1.5rem 7rem;
  }

  .header-container{
    justify-content: start;
    gap: 4rem;
  } 

  .hamburger-menu{
    display: none;
  }

  .navbar-desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family-inter);
  }

  .navbar-desktop .navbar ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .navbar-desktop .navbar ul li{
    list-style: none;
    font-weight: 400;
    color: var(--text-muted);
  }
  
  .navbar-desktop .navbar ul #navbar-about{
    font-weight: 700;
    color: var(--primary-color);
  }

  .navbar-desktop .navbar-button button{
    font-family: var(--font-family-inter);
    background-color: var(--primary-color);
    font-weight: 700;
    color: var(--white-color);
    border: 0;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
  }

  /* ============================== */

  /* HERO SECTION */
  .hero-container{
    flex-direction: row;
    padding: 1rem 4rem 0rem 4rem;
    gap: 10rem;
  }
  
  #hero-image-desktop{
    display: flex;
  }
  
  #hero-image-mobile{
    display: none;
  }
  
  .hero-content-title-subtitle h2{
    width: 90%;
    font-size: 4rem;
  }
  
  .hero-text-content .hero-content-title-subtitle p{
    margin-top: 1.7rem;
  }
  
  .hero-text-content .hero-content-cards{
    width: 50% !important;
    flex-wrap: wrap;
    margin-top: 6rem;
  }
  
  /* ============================== */
  
  /* BRAND LOGOS SECTION */
  .brand-logos-container{
    margin-top: 0;
  }
  
  .brand-logos-container .logos-grid{
    grid-template-columns: repeat(5, 1fr);
  }
  
  .brand-logos-container .logos-grid #paypal-logo{
    width: 40%;
    order: 4;
  }
  
  .brand-logos-container .logos-grid #forbes-logo{
    order: 1;
    width: 45%;
  }
  
  .brand-logos-container .logos-grid #bca-logo{
    order: 2;
    width: 40%;
  }
  
  .brand-logos-container .logos-grid #visa-logo{
    width: 40%;
    justify-self: center;
    order: 3;
  }
  
  .brand-logos-container .logos-grid #gopay-logo{
    display: flex !important;
    order: 999 !important;
  }

  /* ============================== */
  
  /* ABOUT US SECTION */
  .container-about-us{
    flex-direction: row;
    padding: 6rem 10rem 6rem 9rem !important;
    gap: 10rem !important;
  }

  #credit-cards-mobile{
    display: none;
  }

  #credit-cards-desktop{
    display: flex !important;
  }

  .as-title-and-subtitle h3{
    font-size: 2.5rem;
  }

  .about-us-content .as-title-and-subtitle p{
    margin-top: 1rem;
  }

  .as-director-comment{
    margin-top: 5.5rem;
  }

  
  /* ============================== */
  
  /* STATISTCS SECTION */
  .container-statistcs .statistcs-title{
    width: 50%;
  }
  
  .container-statistcs .statistcs-title h3{
    font-size: 2.5rem;
  }

  .container-statistcs .statistcs-cards{
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 5rem;
    padding: 0rem 6rem;
  }

  .container-statistcs .statistcs-cards .card{
    width: 100% !important;
    padding: 1.5rem 1.5rem;
  }

  .container-statistcs .statistcs-cards .card p{
    margin-top: 0.5rem;
  }

  /* ============================== */
  
  /* FEATURES SECTION */
  .container-features{
    flex-direction: row;
    padding: 0rem 3rem;
  }
  
  #feature-image-mobile, #feature-image-tablet{
    display: none;
  }
  
  #feature-image-desktop{
    display: flex !important;
  }
  
  .feature-content{
    padding-right: 0rem !important;
    padding-top: 0rem !important;
    padding-left: 0rem !important;
  }
  
  .feature-content h3{
    font-size: 2.5rem;
    width: 90%;
  }

  /* ============================== */
  
  /* JOIN NOW SECTION */
  .container-join-now{
    flex-direction: row;
    gap: 6rem;
    padding: 5rem 2rem 0rem 10rem;
    justify-content: center;
    align-items: center;
  }
  
  .jn-title-subtitle h3{
    width: 80%;
    font-size: 2.5rem;
  }
  
  .jn-title-subtitle p{
    width: 80%;
  }
  
  .join-now-cards{
    flex-direction: row;
    width: 90%;
    margin-top: 0;
    justify-content: center;
    align-items: center !important;
  }
  
  .join-now-cards .card{
    width: 70%;
  }
  
  .join-now-cards .card .jn-text-muted{
    width: 85%;
  }
  
  /* ============================== */
    
  /* SERVICES SECTION */
  .container-services{
    padding: 10rem 6rem 0rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .container-services .title-subtitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  
  .container-services .title-subtitle h3{
    font-size: 2.5rem;
    width: 80%;
  }
  
  .container-services .title-subtitle p{
    width: 65%;
  }
  
  .container-services .services-image{
    margin-top: 2rem;
  }
  
  #services-woman-image-desktop{
    display: flex !important;
  }
  
  #services-woman-image-mobile{
    display: none;
  }
  
  .services-cards{
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-self: center;
    align-self: center;
    padding-bottom: 5rem;
  }
  
  .services-cards .card{
    margin-bottom: 0;
    width: 90%;
  }
  
  .services-cards .card .card-text .card-text-muted{
    margin-top: 1rem;
  }


  /* ============================== */
    
  /* FOOTER */
  .footer{
    background-image: url("./images/footer-background.png");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    background-position: left 80% bottom -200px;
  }

  .container-footer{
    padding-bottom: 1rem;
  }

  .container-footer .footer-title h2{
    margin-bottom: 3rem;
    width: 60%;
    font-size: 4rem;
  }

  .footer-title, .footer-contact{
    padding: 0rem 1rem 0rem 7rem;
  }

  .footer-contact{
    margin-bottom: 10rem;
    gap: 6rem;
  }

  .footer-infos-grid{
    grid-template-columns: auto 150px 150px;
    grid-template-areas: 
    "copyright terms privacy";
    justify-items: start;
    padding: 0rem 4rem 1.5rem 7rem;
  }
}