/* Importa Fonte Poppins e Inter */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #1053F3;
  --background-color: #F7F9FF;
  --text-muted: #757b8a;
  --text-muted-dark: #101010;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family-poppins);
}

h2{
  font-size: 2.75rem;
  font-weight: 600;
}

h3{
  font-size: 2.25rem;
  font-weight: 600;
}

p{
  font-weight: 500;
}

/* MOBILE FIRST */

/* HEADER */
.site-header {
  padding: 1.2rem 1.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*  ======================================  */


/* MAIN */

/* ================ */

/* SECTION HERO */
.hero-container{
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-women-image{
  max-width: 95%;
  margin-top: 1.2rem;
}

.hero-women-image img{
  width: 100%;
}

.hero-text-content{
  margin-top: 1.8rem;
  padding: 0 0.2rem;
}

.hero-text-content .hero-content-title-subtitle h2{
  line-height: 1.2;
}

.hero-text-content .hero-content-title-subtitle p{
  margin-top: 1.2rem;
  color: var(--text-muted);
}

.hero-text-content .hero-content-button button{
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  border: 0;
  color: white;
  font-family: var(--font-family-inter);
  margin-top: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
}

.hero-text-content .hero-content-cards{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.hero-text-content .hero-content-cards .card{
  display: flex;
  flex-direction: column;
}

.hero-text-content .hero-content-cards .card h3{
  font-size: 2.5rem;
  font-weight: 600;
}

.hero-text-content .hero-content-cards .card p{
  color: var(--text-muted-dark);
  font-size: 0.75rem;
  font-weight: 500;
}

.hero-text-content .hero-content-cards .vertical-line{
  height: 3rem;
  width: 1px;
  background-color: #dadada;
  border: 0;
}

/* ================ */

/* SECTION BRAND LOGOS */
.brand-logos-container{
  background-color: var(--primary-color);
  padding: 3rem 1rem 2.5rem 1.7rem;
  margin-top: 3.8rem;
}

.brand-logos-container .logos-grid{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.brand-logos-container .logos-grid #paypal-logo{
  width: 100%;
}

.brand-logos-container .logos-grid #forbes-logo{
  width: 90%;
}

.brand-logos-container .logos-grid #bca-logo{
  width: 60%;
  justify-self: center;
}

.brand-logos-container .logos-grid #visa-logo{
  width: 67%;
  justify-self: start;
}

/* ================ */

/* SECTION CREDIT CARDS (CC) */
.credit-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem 4.5rem 1.7rem;
}


.credit-cards-content .cc-title-and-subtitle h3{
  margin-top: 1.5rem;
  line-height: 1.2;
}

.credit-cards-content .cc-title-and-subtitle p{
  font-family: var(--font-family-inter);
  color: var(--text-muted);
  line-height: 1.6;
  margin-top: 2rem;
  font-weight: 500;
}

.cc-director-comment{
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
}

.cc-director-comment .director-comment{
  font-family: var(--font-family-inter);
  font-weight: 400;
  font-size: 16px;
}

.cc-director-comment .director-infos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 1.5rem;
}

.director-infos .director-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cc-director-comment .director-name-job{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.cc-director-comment .director-name-job #director-job{
  color: var(--text-muted);
  font-weight: 500;
  line-height: 1.2;
}

.cc-director-comment .director-name-job #director-name{
  font-weight: 600;
}